.chart {
    width: 100%; 
    min-height: 600px;
  }

.ck-editor__editable_inline {
    min-height: 200px;
}



.spinner {
  width: 80px;
  height: 80px;

  border: 2px solid #030303;
  border-top: 3px solid #f25a41;
  border-bottom: 3px solid #f4e842;
  border-left: 3px solid #bb41f4;

  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255,0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}
